.icon {
    margin-right: 22px;
    cursor: pointer;
    font-size: 18px;
    &:hover {
        svg {
            color: $corBlue600 !important;
        }
    }
    &#homeIconBreadCrumb {
        font-size: 15px;
        margin-right: 0px;
    }
    &#productListIcon {
        font-size: 13px;
        margin-right: 0px;
    }
}